<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск книги</title>
</head>
<body>

<form th:method="POST" th:action="@{/books/search}">
    <label for="search_string">Введите поисковой запрос</label>
    <input type="text" id="search_string" name="search_string"/>
    <br><br>
    <input type="submit" value="Искать"/>
</form>
<hr>

<div th:if="${books.isEmpty()}">
    Книг не найдено
</div>

<div th:if="${!books.isEmpty()}">
    <div th:each="book : ${books}">
        <a th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYearOfPublication()}">value</a>
        <div th:if="${book.getPerson() == null}">
            Книга свободна
        </div>
        <div th:if="${book.getPerson() != null}">
            <a th:text="'Книга сейчас у ' + ${book.getPerson().getFullName()}">value</a>
        </div>
        <br>
    </div>
</div>

</body>
</html>
