<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Книга</title>
</head>
<body>

<p th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYearOfPublication()}">value</p>
<hr>

<div th:if="${owner}">
    <form th:method="PATCH" th:action="@{/books/{id}/free(id=${book.getId()})}">
        <span th:text="'Книга сейчас у: ' + ${owner.getFullName()}">value</span>
        <input type="submit" value="Освободить книгу"/>
    </form>
</div>

<div th:if="${people}">
    <span>Эта книга свободна. Кому назначить ее?</span>

    <form th:method="PATCH" th:action="@{/books/{id}/busy(id=${book.getId()})}">
        <label for="person">Выберите человека</label>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getFullName()}">
            </option>
        </select>
        <input type="submit" value="Назначить книгу"/>
    </form>
</div>

<hr>

<form th:action="@{/books/{id}/edit(id=${book.getId()})}">
    <input type="submit" value="Редактировать"/>
</form>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Удалить"/>
</form>

</body>
</html>
